/*.iml
/.idea
/movies-service/target
/movies-service/*.iml
/tv-shows-service/target
/tv-shows-service/*.iml
/api-gateway/*.iml
/api-gateway/target
/discovery-service/target
/discovery-service/*.iml
/rating-service/*.iml
/rating-service/target
/trace-service/*.iml
/monitoring/*.iml
/config-server/*.iml
target
